{% extends "../__layout__.html" %}
{% load static %}
{% load sharedutils  %}
{% block title %}Product | Detail{% endblock %}
{% block content %}
<div class="container">
    <div class="p-5 rounded">
        <h1>{{ product.name }}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Dosage Form</th>
                    <td>{{ product.dosage_form }}</td>
                </tr>
                <tr>
                    <th scope="row">Active Ingredients</th>
                    <td>
                        {% for API in product.active_ingredients|split:","  %}
                            <b class="badge bg-success">{{API}}</b>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Decree Number</th>
                    <td>{{ product.decree_no }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 rounded">
            <h1>Name Approval</h1>
            {% if product.nameapproval_set.last != None %}
            <table class="table">
                <tbody>
                    {% with product.nameapproval_set.last as nameapproval %}
                    <tr>
                        <th scope="row">English Name</th>
                        <td>{{ nameapproval.english_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Arabic Name</th>
                        <td>{{ nameapproval.arabic_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Attachment</th>
                        <td><a id="approvalName" target="_blank" href="/media/{{ nameapproval.attachment }}">Attachment</a>
                        </td>
                    </tr>
                    {% endwith %}
                    <tr>
                        <td colspan="2"><a href="{% url 'product:list_nameapproval' pk=product.pk %}">Show More...</a></td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p class="text-center display-5">No name approval...</p>
            {% endif %}
        </div>
        <div class="col-md-6 rounded">
            <h1>Box Approval</h1>
            {% if product.boxapproval_set.last != None %}
            <table class="table">
                <tbody>
                    {% with product.boxapproval_set.last as boxapproval %}
                    <tr>
                        <th scope="row">Generic Name and Strength</th>
                        <td>{{ boxapproval.generic_name_and_strength }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Company Name</th>
                        <td>{{ boxapproval.company_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Package Information</th>
                        <td>{{ boxapproval.package_information }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Reference Stated in Company Application</th>
                        <td>{{ boxapproval.reference_stated_in_company_application }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Application No</th>
                        <td>{{ boxapproval.application_no }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Box Request No</th>
                        <td>{{ boxapproval.box_request_number }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Issue Date</th>
                        <td>{{ boxapproval.issue_date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Attachment</th>
                        <td><a id="boxApproval" target="_blank" href="/media/{{ boxapproval.attachment }}">Attachment</a>
                        </td>
                    </tr>
                    {% endwith %}
                    <tr>
                        <td colspan="2"><a href="{% url 'product:list_boxapproval' pk=product.pk %}">Show More...</a></td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p class="text-center display-5">No Box approval...</p>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% endblock %}